<footer class="footer text-white fixed-bottom" style="background-color: #4b0082;">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        Noble McMurray CSC7084
      </div>
    </div>
  </div>
</footer>